<html>

<head>
<title>Wifi Presence Detect</title>
</head>

<body>
<table id = "content_table" align="center" style="width:50%">
	<tr align="center">
		<th>IP Address</th>
		<th>MAC Address</th>
		<th>Hostname</th>
		<th>Status</th>
	</tr>
</table>

<script type="text/javascript" src="{{url_for('static', filename='update_table.js')}}">
</script>

</body>
</html>